# Credenciales de acceso USAC (Opcional, para pruebas de login real)
USAC_USER=
USAC_PASSWORD=

# URLs oficiales
PORTAL_ACADEMICO_URL=https://dashboardacademico.ingenieria.usac.edu.gt/
UEDI_URL=https://uedi.ingenieria.usac.edu.gt/campus/
UEDI_LOGIN_URL=https://uedi.ingenieria.usac.edu.gt/campus/

# Curso y Material a descargar en UEDI
CURSO_OBJETIVO="LABORATORIO DE INTELIGENCIA ARTIFICIAL 1"
SECCION_TEMA="Proyectos"
MATERIAL_OBJETIVO="Proyecto #2"

# Enlace de formulario de auxiliares
FORMULARIO_URL=
